{% extends "quicknotes/quicknotes.html" %}
{% block title %}My notes {% endblock %}
{% block body %}
<form action="{% url 'edit' note.id %}" method="POST" enctype="multipart/form-data" class="edit-form">
    {% csrf_token %}
    {{ form }}
    <div class="action-row">
        <button class="btn btn-submit" type="submit">Save note</button>

        <form action="{% url 'delete' note.id %}" method="POST" enctype="multipart/form-data" class="delete-form">
            {% csrf_token %}
            <button class="btn btn-delete" type="submit">Delete note</button>
        </form>
    </div>
</form>

<a href="{% url 'notes' %}" class="small-link">All notes</a>

{% endblock %}